// Base styles for Vehicle Model Management
.admin-vehicle-model {
  padding: 0px 16px 16px 16px;
  background: transparent;
  min-height: calc(100vh - 96px);
  animation: fadeIn 0.5s ease-out;
  width: 100%;
}

