USE [master]
GO
/****** Object:  Database [ksf00691_team03]    Script Date: 15/09/2025 7:36:55 CH ******/
CREATE DATABASE [ksf00691_team03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ksf00691_team03', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\ksf00691_team03.mdf' , SIZE = 73728KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ksf00691_team03_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\ksf00691_team03_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ksf00691_team03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ksf00691_team03]
GO
/****** Object:  User [ksf00691_team03]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE USER [ksf00691_team03] FOR LOGIN [ksf00691_team03] WITH DEFAULT_SCHEMA=[ksf00691_team03]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ksf00691_team03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ksf00691_team03]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ksf00691_team03]
GO
/****** Object:  Schema [ksf00691_team03]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE SCHEMA [ksf00691_team03]
GO
USE [ksf00691_team03]
GO
/****** Object:  Sequence [dbo].[Seq_InvoiceNumber]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE SEQUENCE [dbo].[Seq_InvoiceNumber] 
 AS [bigint]
 START WITH 100000
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 NO CACHE 
GO
/****** Object:  View [ksf00691_team03].[vw_Available_Seats]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ksf00691_team03].[vw_Available_Seats] AS
SELECT 
    s.Seat_ID,
    s.Seat_Number,
    sl.Row_Label,
    sl.Column_Number,
    sl.Seat_Type,
    sh.Showtime_ID,
    sh.Movie_ID,
    sh.Cinema_Room_ID,
    sh.Show_Date,
    sh.Start_Time,
    CASE 
        WHEN t.Ticket_ID IS NULL THEN 'Available'
        ELSE 'Booked'
    END as Status
FROM ksf00691_team03.[Seats] s
INNER JOIN ksf00691_team03.[Seat_Layout] sl ON s.Layout_ID = sl.Layout_ID
CROSS JOIN ksf00691_team03.[Showtimes] sh
LEFT JOIN ksf00691_team03.[Tickets] t 
    ON t.Seat_ID = s.Seat_ID 
    AND t.Showtime_ID = sh.Showtime_ID
    AND t.Status NOT IN ('Cancelled', 'Expired')
WHERE sh.Status = 'Scheduled'
    AND s.Is_Active = 1
    AND sl.Is_Active = 1

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [nvarchar](20) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartSlotID] [int] NOT NULL,
	[EndSlotID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalEstimatedCost] [decimal](12, 2) NULL,
	[SpecialRequests] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[TotalSlots]  AS (([EndSlotID]-[StartSlotID])+(1)) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_BookingServices] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingTimeSlots]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingTimeSlots](
	[BookingID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[SlotOrder] [int] NOT NULL,
 CONSTRAINT [PK_BookingTimeSlots] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Channels]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channels](
	[ChannelID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Channels] PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Channels_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[NormalizedPhone] [nvarchar](20) NULL,
	[IsGuest] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inv_CenterPart] UNIQUE NONCLUSTERED 
(
	[CenterID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryBalances]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryBalances](
	[PartID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InventoryBalances] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[PartID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[QtyChange] [int] NOT NULL,
	[RefType] [varchar](30) NOT NULL,
	[RefID] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransferItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransferItems](
	[TransferID] [bigint] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InvTransferItems] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransfers]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransfers](
	[TransferID] [bigint] IDENTITY(1,1) NOT NULL,
	[FromWarehouseID] [int] NOT NULL,
	[ToWarehouseID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PostedAt] [datetime2](0) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_InventoryTransfers] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[PartID] [int] NULL,
	[Description] [nvarchar](300) NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[LineTotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicePayments]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePayments](
	[InvoiceID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[AppliedAmount] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_InvoicePayments] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](20) NOT NULL,
	[WorkOrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[BillingName] [nvarchar](200) NOT NULL,
	[BillingPhone] [nvarchar](20) NULL,
	[BillingAddress] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[NormalizedBillingPhone]  AS (left(replace(replace(replace(replace(isnull([BillingPhone],N''),N' ',N''),N'-',N''),N'(',N''),N')',N''),(20))) PERSISTED,
	[InvoiceType] [varchar](20) NOT NULL,
	[ParentInvoiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[Comments] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklistItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklistItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklistResults]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklistResults](
	[ChecklistID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Performed] [bit] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[Comment] [nvarchar](250) NULL,
 CONSTRAINT [PK_MaintenanceChecklistResults] PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceChecklists]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceChecklists](
	[ChecklistID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceReminders]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceReminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[DueMileage] [int] NULL,
	[DueDate] [date] NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPCodes]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPCodes](
	[OTPID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[OTPType] [nvarchar](20) NOT NULL,
	[ContactInfo] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedAt] [datetime2](0) NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[PartNumber] [nvarchar](50) NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PartNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentCode] [nvarchar](50) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[PayOSOrderCode] [bigint] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[BuyerName] [nvarchar](100) NULL,
	[BuyerPhone] [nvarchar](20) NULL,
	[BuyerAddress] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PaidAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PayOSOrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PaymentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountValue] [decimal](12, 2) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[MinOrderAmount] [decimal](12, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[MaxDiscount] [decimal](12, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UsageLimit] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[UserLimit] [int] NULL,
	[PromotionType] [nvarchar](20) NOT NULL,
	[ApplyFor] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderItems](
	[SalesOrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_SalesOrderItems] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[SalesOrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CenterID] [int] NOT NULL,
	[ChannelID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_SalesOrders] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[ParentCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[CenterID] [int] IDENTITY(1,1) NOT NULL,
	[CenterName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePackageItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePackageItems](
	[PackageID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_ServicePackageItems] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePackages]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePackages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageCode] [nvarchar](50) NULL,
	[PackageName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PackageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EstimatedDuration] [int] NOT NULL,
	[RequiredSlots] [int] NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[RequiredSkills] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[StaffCode] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StaffCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[TechnicianCode] [nvarchar](20) NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[ExperienceYears] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TechnicianCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicianTimeSlots]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicianTimeSlots](
	[TechnicianSlotID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[SlotID] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[IsBooked] [bit] NOT NULL,
	[BookingID] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotTime] [time](0) NOT NULL,
	[SlotLabel] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SlotTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPromotions]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPromotions](
	[UserPromotionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PromotionID] [int] NOT NULL,
	[InvoiceID] [int] NULL,
	[UsedAt] [datetime2](0) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UserPromotions] PRIMARY KEY CLUSTERED 
(
	[UserPromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Gender] [nvarchar](6) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[PhoneVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[RefreshToken] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[Year] [int] NOT NULL,
	[BatteryCapacity] [decimal](5, 2) NULL,
	[Range] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ModelID] [int] NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[Color] [nvarchar](30) NULL,
	[CurrentMileage] [int] NOT NULL,
	[LastServiceDate] [date] NULL,
	[NextServiceDue] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Warehouses_Center_Code] UNIQUE NONCLUSTERED 
(
	[CenterID] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderChargeProposalItems]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderChargeProposalItems](
	[ProposalItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProposalID] [int] NOT NULL,
	[PartID] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Quantity] [decimal](12, 2) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_WOCPItems] PRIMARY KEY CLUSTERED 
(
	[ProposalItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderChargeProposals]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderChargeProposals](
	[ProposalID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProposalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrderParts]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderParts](
	[WorkOrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
	[UnitCost] [decimal](10, 2) NOT NULL,
	[TotalCost] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_WorkOrderParts] PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC,
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrders]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrders](
	[WorkOrderID] [int] IDENTITY(1,1) NOT NULL,
	[WorkOrderNumber] [nvarchar](20) NOT NULL,
	[BookingID] [int] NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[StartTime] [datetime2](0) NULL,
	[EndTime] [datetime2](0) NULL,
	[ActualDuration] [int] NULL,
	[InitialMileage] [int] NULL,
	[FinalMileage] [int] NULL,
	[CustomerComplaints] [nvarchar](max) NULL,
	[WorkPerformed] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WorkOrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Customers_GuestPhone]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customers_GuestPhone] ON [dbo].[Customers]
(
	[NormalizedPhone] ASC
)
WHERE ([IsGuest]=(1) AND [NormalizedPhone] IS NOT NULL AND [NormalizedPhone]<>N'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Customers_UserID_NotNull]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customers_UserID_NotNull] ON [dbo].[Customers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryBalances_Part]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InventoryBalances_Part] ON [dbo].[InventoryBalances]
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryBalances_Warehouse]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InventoryBalances_Warehouse] ON [dbo].[InventoryBalances]
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvTrans_CreatedAt]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvTrans_CreatedAt] ON [dbo].[InventoryTransactions]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvTrans_Part_Warehouse]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvTrans_Part_Warehouse] ON [dbo].[InventoryTransactions]
(
	[PartID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvTransfers_FromWh]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvTransfers_FromWh] ON [dbo].[InventoryTransfers]
(
	[FromWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvTransfers_Status]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvTransfers_Status] ON [dbo].[InventoryTransfers]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvTransfers_ToWh]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvTransfers_ToWh] ON [dbo].[InventoryTransfers]
(
	[ToWarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceItems_InvoiceID]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItems_InvoiceID] ON [dbo].[InvoiceItems]
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_InvoiceType]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_InvoiceType] ON [dbo].[Invoices]
(
	[InvoiceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_Invoices_NormPhone]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_NormPhone] ON [dbo].[Invoices]
(
	[NormalizedBillingPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Parent]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Parent] ON [dbo].[Invoices]
(
	[ParentInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_Status]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Status] ON [dbo].[Invoices]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Created]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Created] ON [dbo].[Payments]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_ActiveDate]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_ActiveDate] ON [dbo].[Promotions]
(
	[StartDate] ASC,
	[EndDate] ASC
)
WHERE ([Status]=N'ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_StatusDates]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_StatusDates] ON [dbo].[Promotions]
(
	[Status] ASC,
	[StartDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderItems_Part]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderItems_Part] ON [dbo].[SalesOrderItems]
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_Channel]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_Channel] ON [dbo].[SalesOrders]
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SalesOrders_Status]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_Status] ON [dbo].[SalesOrders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_Warehouse]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_Warehouse] ON [dbo].[SalesOrders]
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCategories_Parent]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCategories_Parent] ON [dbo].[ServiceCategories]
(
	[ParentCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SPI_Package]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SPI_Package] ON [dbo].[ServicePackageItems]
(
	[PackageID] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SPI_Service]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_SPI_Service] ON [dbo].[ServicePackageItems]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TTS_DateSlot]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TTS_DateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TTS_TechDateSlot]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TTS_TechDateSlot] ON [dbo].[TechnicianTimeSlots]
(
	[TechnicianID] ASC,
	[WorkDate] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Customer]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Customer] ON [dbo].[UserPromotions]
(
	[CustomerID] ASC,
	[UsedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserPromotions_Promotion]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserPromotions_Promotion] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[UsedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPromotions_Promo_Invoice]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPromotions_Promo_Invoice] ON [dbo].[UserPromotions]
(
	[PromotionID] ASC,
	[InvoiceID] ASC
)
WHERE ([InvoiceID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Warehouses_Center]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Warehouses_Center] ON [dbo].[Warehouses]
(
	[CenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_WOCPItems_Proposal_Part_NotNull]    Script Date: 15/09/2025 7:36:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_WOCPItems_Proposal_Part_NotNull] ON [dbo].[WorkOrderChargeProposalItems]
(
	[ProposalID] ASC,
	[PartID] ASC
)
WHERE ([PartID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Book_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BookingServices] ADD  CONSTRAINT [DF_BS_Qty]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsGuest]  DEFAULT ((1)) FOR [IsGuest]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inv_Current]  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inv_Min]  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inv_Last]  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  CONSTRAINT [DF_InvTrans_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransfers] ADD  CONSTRAINT [DF_InvTransfers_Status]  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[InventoryTransfers] ADD  CONSTRAINT [DF_InvTransfers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Inv_BillingName]  DEFAULT (N'Guest') FOR [BillingName]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Inv_Status]  DEFAULT (N'DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Inv_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_InvoiceType]  DEFAULT ('STANDARD') FOR [InvoiceType]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LR_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LR_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults] ADD  DEFAULT ((0)) FOR [Performed]
GO
ALTER TABLE [dbo].[MaintenanceChecklists] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MR_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[MaintenanceReminders] ADD  CONSTRAINT [DF_MR_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Noti_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Noti_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Attempt]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[OTPCodes] ADD  CONSTRAINT [DF_OTPCodes_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Pay_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UsageCount]  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  CONSTRAINT [DF_SalesOrders_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  CONSTRAINT [DF_SalesOrders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  CONSTRAINT [DF_SvcCat_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCenters] ADD  CONSTRAINT [DF_Centers_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServicePackageItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_Settings_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_Exp]  DEFAULT ((0)) FOR [ExperienceYears]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Technicians] ADD  CONSTRAINT [DF_Tech_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_IsAvail]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_IsBooked]  DEFAULT ((0)) FOR [IsBooked]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] ADD  CONSTRAINT [DF_TTS_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_UsedAt]  DEFAULT (sysdatetime()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[UserPromotions] ADD  CONSTRAINT [DF_UserPromotions_Status]  DEFAULT (N'USED') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailVerified]  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_PhoneVerified]  DEFAULT ((0)) FOR [PhoneVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VehicleModels] ADD  CONSTRAINT [DF_VModels_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Mileage]  DEFAULT ((0)) FOR [CurrentMileage]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Warehouses] ADD  CONSTRAINT [DF_Warehouses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkOrderChargeProposals] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[WorkOrderChargeProposals] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Status]  DEFAULT (N'NOT_STARTED') FOR [Status]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrders] ADD  CONSTRAINT [DF_WO_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Centers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_EndSlot] FOREIGN KEY([EndSlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_EndSlot]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_StartSlot] FOREIGN KEY([StartSlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_StartSlot]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Book_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Book_Vehicles]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BS_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BS_Bookings]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BS_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BS_Services]
GO
ALTER TABLE [dbo].[BookingTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_BTS_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[BookingTimeSlots] CHECK CONSTRAINT [FK_BTS_Bookings]
GO
ALTER TABLE [dbo].[BookingTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_BTS_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[BookingTimeSlots] CHECK CONSTRAINT [FK_BTS_Technicians]
GO
ALTER TABLE [dbo].[BookingTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_BTS_TimeSlots] FOREIGN KEY([SlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[BookingTimeSlots] CHECK CONSTRAINT [FK_BTS_TimeSlots]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inv_Centers]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inv_Parts]
GO
ALTER TABLE [dbo].[InventoryBalances]  WITH CHECK ADD  CONSTRAINT [FK_InventoryBalances_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InventoryBalances] CHECK CONSTRAINT [FK_InventoryBalances_Parts]
GO
ALTER TABLE [dbo].[InventoryBalances]  WITH CHECK ADD  CONSTRAINT [FK_InventoryBalances_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[InventoryBalances] CHECK CONSTRAINT [FK_InventoryBalances_Warehouses]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InvTrans_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InvTrans_Parts]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InvTrans_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InvTrans_Warehouses]
GO
ALTER TABLE [dbo].[InventoryTransferItems]  WITH CHECK ADD  CONSTRAINT [FK_InvTransferItems_Part] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InventoryTransferItems] CHECK CONSTRAINT [FK_InvTransferItems_Part]
GO
ALTER TABLE [dbo].[InventoryTransferItems]  WITH CHECK ADD  CONSTRAINT [FK_InvTransferItems_Transfer] FOREIGN KEY([TransferID])
REFERENCES [dbo].[InventoryTransfers] ([TransferID])
GO
ALTER TABLE [dbo].[InventoryTransferItems] CHECK CONSTRAINT [FK_InvTransferItems_Transfer]
GO
ALTER TABLE [dbo].[InventoryTransfers]  WITH CHECK ADD  CONSTRAINT [FK_InvTransfers_FromWh] FOREIGN KEY([FromWarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[InventoryTransfers] CHECK CONSTRAINT [FK_InvTransfers_FromWh]
GO
ALTER TABLE [dbo].[InventoryTransfers]  WITH CHECK ADD  CONSTRAINT [FK_InvTransfers_ToWh] FOREIGN KEY([ToWarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[InventoryTransfers] CHECK CONSTRAINT [FK_InvTransfers_ToWh]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_WorkOrders] FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_WorkOrders]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LR_Approver] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LR_Approver]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LR_Tech] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LR_Tech]
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD FOREIGN KEY([ChecklistID])
REFERENCES [dbo].[MaintenanceChecklists] ([ChecklistID])
GO
ALTER TABLE [dbo].[MaintenanceChecklistResults]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[MaintenanceChecklistItems] ([ItemID])
GO
ALTER TABLE [dbo].[MaintenanceChecklists]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[MaintenanceReminders]  WITH CHECK ADD  CONSTRAINT [FK_MR_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[MaintenanceReminders] CHECK CONSTRAINT [FK_MR_Vehicles]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_Users]
GO
ALTER TABLE [dbo].[OTPCodes]  WITH CHECK ADD  CONSTRAINT [FK_OTPCodes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OTPCodes] CHECK CONSTRAINT [FK_OTPCodes_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderItems_Order] FOREIGN KEY([SalesOrderID])
REFERENCES [dbo].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [dbo].[SalesOrderItems] CHECK CONSTRAINT [FK_SalesOrderItems_Order]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderItems_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[SalesOrderItems] CHECK CONSTRAINT [FK_SalesOrderItems_Parts]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Channels] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[Channels] ([ChannelID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Channels]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Customers]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_ServiceCtrs] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_ServiceCtrs]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Warehouses]
GO
ALTER TABLE [dbo].[ServiceCategories]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCategories_Parent] FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[ServiceCategories] CHECK CONSTRAINT [FK_ServiceCategories_Parent]
GO
ALTER TABLE [dbo].[ServicePackageItems]  WITH CHECK ADD  CONSTRAINT [FK_SPI_Packages] FOREIGN KEY([PackageID])
REFERENCES [dbo].[ServicePackages] ([PackageID])
GO
ALTER TABLE [dbo].[ServicePackageItems] CHECK CONSTRAINT [FK_SPI_Packages]
GO
ALTER TABLE [dbo].[ServicePackageItems]  WITH CHECK ADD  CONSTRAINT [FK_SPI_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServicePackageItems] CHECK CONSTRAINT [FK_SPI_Services]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Categories]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Centers]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Tech_Centers] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Tech_Centers]
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [FK_Tech_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [FK_Tech_Users]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[TimeSlots] ([SlotID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TTS_Slot]
GO
ALTER TABLE [dbo].[TechnicianTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TTS_Tech] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[TechnicianTimeSlots] CHECK CONSTRAINT [FK_TTS_Tech]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Customers]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Invoices]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [FK_UserPromotions_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [FK_UserPromotions_Promotions]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Models] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModels] ([ModelID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Models]
GO
ALTER TABLE [dbo].[Warehouses]  WITH CHECK ADD  CONSTRAINT [FK_Warehouses_ServiceCenters] FOREIGN KEY([CenterID])
REFERENCES [dbo].[ServiceCenters] ([CenterID])
GO
ALTER TABLE [dbo].[Warehouses] CHECK CONSTRAINT [FK_Warehouses_ServiceCenters]
GO
ALTER TABLE [dbo].[WorkOrderChargeProposalItems]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[WorkOrderChargeProposalItems]  WITH CHECK ADD FOREIGN KEY([ProposalID])
REFERENCES [dbo].[WorkOrderChargeProposals] ([ProposalID])
GO
ALTER TABLE [dbo].[WorkOrderChargeProposals]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WOP_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WOP_Parts]
GO
ALTER TABLE [dbo].[WorkOrderParts]  WITH CHECK ADD  CONSTRAINT [FK_WOP_WorkOrders] FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WorkOrders] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WorkOrderParts] CHECK CONSTRAINT [FK_WOP_WorkOrders]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Bookings]
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [FK_WO_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [FK_WO_Technicians]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Book_SlotOrder] CHECK  (([EndSlotID]>=[StartSlotID]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Book_SlotOrder]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Book_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'COMPLETED' OR [Status]=N'IN_PROGRESS' OR [Status]=N'CONFIRMED' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Book_Status]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [CK_BS_Quantity_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [CK_BS_Quantity_Positive]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [CK_BS_TotalPrice_NonNegative] CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [CK_BS_TotalPrice_NonNegative]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [CK_BS_UnitPrice_NonNegative] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [CK_BS_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_CurrentStock_NonNegative] CHECK  (([CurrentStock]>=(0)))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Inventory_CurrentStock_NonNegative]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_MinimumStock_NonNegative] CHECK  (([MinimumStock]>=(0)))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Inventory_MinimumStock_NonNegative]
GO
ALTER TABLE [dbo].[InventoryBalances]  WITH CHECK ADD  CONSTRAINT [CK_InventoryBalances_Qty] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[InventoryBalances] CHECK CONSTRAINT [CK_InventoryBalances_Qty]
GO
ALTER TABLE [dbo].[InventoryTransferItems]  WITH CHECK ADD  CONSTRAINT [CK_InvTransferItems_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InventoryTransferItems] CHECK CONSTRAINT [CK_InvTransferItems_Qty]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD CHECK  (([AppliedAmount]>(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Inv_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'OVERDUE' OR [Status]=N'PAID' OR [Status]=N'SENT' OR [Status]=N'DRAFT'))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Inv_Status]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LR_Status] CHECK  (([Status]=N'REJECTED' OR [Status]=N'APPROVED' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LR_Status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Pay_Status] CHECK  (([Status]=N'EXPIRED' OR [Status]=N'CANCELLED' OR [Status]=N'PAID' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Pay_Status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Amount_Positive] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Amount_Positive]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_ApplyFor] CHECK  (([ApplyFor]=N'CENTER' OR [ApplyFor]=N'CUSTOMER' OR [ApplyFor]=N'CATEGORY' OR [ApplyFor]=N'SERVICE' OR [ApplyFor]=N'ORDER'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_ApplyFor]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Dates] CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Dates]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_DiscountType] CHECK  (([DiscountType]=N'AMOUNT' OR [DiscountType]=N'PERCENT'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_DiscountType]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_DiscountValue] CHECK  (([DiscountType]=N'PERCENT' AND [DiscountValue]>(0) AND [DiscountValue]<=(100) OR [DiscountType]=N'AMOUNT' AND [DiscountValue]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_DiscountValue]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_NonNeg] CHECK  ((([MinOrderAmount] IS NULL OR [MinOrderAmount]>=(0)) AND ([MaxDiscount] IS NULL OR [MaxDiscount]>=(0)) AND ([UsageLimit] IS NULL OR [UsageLimit]>=(0)) AND ([UserLimit] IS NULL OR [UserLimit]>=(0)) AND [UsageCount]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_NonNeg]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_PromotionType] CHECK  (([PromotionType]=N'AUTO' OR [PromotionType]=N'VOUCHER' OR [PromotionType]=N'PRIVATE' OR [PromotionType]=N'PUBLIC'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_PromotionType]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Status] CHECK  (([Status]=N'EXPIRED' OR [Status]=N'PAUSED' OR [Status]=N'ACTIVE' OR [Status]=N'DRAFT'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Status]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderItems_Price] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[SalesOrderItems] CHECK CONSTRAINT [CK_SalesOrderItems_Price]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderItems_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SalesOrderItems] CHECK CONSTRAINT [CK_SalesOrderItems_Qty]
GO
ALTER TABLE [dbo].[ServicePackageItems]  WITH CHECK ADD  CONSTRAINT [CK_SPI_Qty_Positive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ServicePackageItems] CHECK CONSTRAINT [CK_SPI_Qty_Positive]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_Amount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_Amount]
GO
ALTER TABLE [dbo].[UserPromotions]  WITH CHECK ADD  CONSTRAINT [CK_UserPromotions_Status] CHECK  (([Status]=N'VOID' OR [Status]=N'PENDING' OR [Status]=N'USED'))
GO
ALTER TABLE [dbo].[UserPromotions] CHECK CONSTRAINT [CK_UserPromotions_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Gender] CHECK  (([Gender] IS NULL OR (upper([Gender])=N'FEMALE' OR upper([Gender])=N'MALE')))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Gender]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [CK_Vehicles_Mileage] CHECK  (([CurrentMileage]>=(0)))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [CK_Vehicles_Mileage]
GO
ALTER TABLE [dbo].[WorkOrderChargeProposalItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[WorkOrderChargeProposalItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[WorkOrders]  WITH CHECK ADD  CONSTRAINT [CK_WO_Status] CHECK  (([Status]=N'ON_HOLD' OR [Status]=N'COMPLETED' OR [Status]=N'IN_PROGRESS' OR [Status]=N'NOT_STARTED'))
GO
ALTER TABLE [dbo].[WorkOrders] CHECK CONSTRAINT [CK_WO_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_Invoice_CreateSupplementalFromProposal]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Invoice_CreateSupplementalFromProposal]
  @ProposalID INT,
  @ParentInvoiceID INT = NULL,
  @NewInvoiceID INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  /* 0) Validate proposal */
  DECLARE @WOID INT;
  SELECT @WOID = p.WorkOrderID
  FROM dbo.WorkOrderChargeProposals p
  WHERE p.ProposalID=@ProposalID AND p.Status='APPROVED';
  IF @WOID IS NULL
    THROW 51110, 'Proposal khong ton tai hoac chua APPROVED', 1;

  /* 1) Detect InvoiceNumber column (exists? nullable? string?) */
  DECLARE @HasInvNo BIT = 0, @InvNoNullable BIT = 1, @InvNoIsString BIT = 0;
  SELECT
    @HasInvNo = 1,
    @InvNoNullable = c.is_nullable,
    @InvNoIsString = CASE WHEN t.name IN ('nvarchar','varchar','nchar','char','text','ntext') THEN 1 ELSE 0 END
  FROM sys.columns c
  JOIN sys.types   t ON t.user_type_id = c.user_type_id
  WHERE c.object_id = OBJECT_ID('dbo.Invoices') AND c.name = 'InvoiceNumber';

  /* 2) Generate InvoiceNumber if required (exists & NOT NULL) */
  DECLARE @InvNoNumeric BIGINT = NULL;
  DECLARE @InvNoText NVARCHAR(100) = NULL;

  IF @HasInvNo = 1 AND @InvNoNullable = 0
  BEGIN
    SET @InvNoNumeric = NEXT VALUE FOR dbo.Seq_InvoiceNumber;
    IF @InvNoIsString = 1
    BEGIN
      /* Correct quoting here: single '0' only */
      SET @InvNoText = N'INV-' + CONVERT(NVARCHAR(8), GETDATE(), 112)
                     + N'-' + RIGHT(REPLICATE('0', 5) + CAST(@InvNoNumeric AS NVARCHAR(20)), 5);
    END
  END

  /* 3) Insert header (dynamic for InvoiceNumber presence) */
  IF @HasInvNo = 1 AND @InvNoNullable = 0
  BEGIN
    IF @InvNoIsString = 1
    BEGIN
      INSERT INTO dbo.Invoices(InvoiceNumber, InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
      VALUES(@InvNoText, 'SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
    END
    ELSE
    BEGIN
      INSERT INTO dbo.Invoices(InvoiceNumber, InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
      VALUES(@InvNoNumeric, 'SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
    END
  END
  ELSE
  BEGIN
    INSERT INTO dbo.Invoices(InvoiceType, ParentInvoiceID, CreatedAt, TotalAmount)
    VALUES('SUPPLEMENTAL', @ParentInvoiceID, sysdatetime(), 0);
  END

  SET @NewInvoiceID = SCOPE_IDENTITY();

  /* 4) Insert lines: Parts */
  IF COL_LENGTH('dbo.Parts','PartName') IS NOT NULL
  BEGIN
    INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
    SELECT @NewInvoiceID, i.PartID, p.PartName, i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
    FROM dbo.WorkOrderChargeProposalItems i
    JOIN dbo.Parts p ON p.PartID=i.PartID
    WHERE i.ProposalID=@ProposalID AND i.PartID IS NOT NULL;
  END
  ELSE
  BEGIN
    INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
    SELECT @NewInvoiceID, i.PartID, CONVERT(NVARCHAR(300), i.PartID), i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
    FROM dbo.WorkOrderChargeProposalItems i
    WHERE i.ProposalID=@ProposalID AND i.PartID IS NOT NULL;
  END

  /* 5) Insert lines: Labor (PartID NULL) */
  INSERT INTO dbo.InvoiceItems(InvoiceID, PartID, Description, Quantity, UnitPrice, LineTotal)
  SELECT @NewInvoiceID, NULL, ISNULL(i.Description, N'Labor'), i.Quantity, i.UnitPrice, i.Quantity*i.UnitPrice
  FROM dbo.WorkOrderChargeProposalItems i
  WHERE i.ProposalID=@ProposalID AND i.PartID IS NULL;

  /* 6) Recalculate total */
  UPDATE inv
  SET inv.TotalAmount = x.SumLines
  FROM dbo.Invoices inv
  JOIN (SELECT InvoiceID, SUM(LineTotal) AS SumLines
        FROM dbo.InvoiceItems GROUP BY InvoiceID) x
    ON x.InvoiceID=inv.InvoiceID
  WHERE inv.InvoiceID=@NewInvoiceID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Sales_ConfirmPaid]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Sales_ConfirmPaid] @SalesOrderID INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @WID INT;

  SELECT @WID = WarehouseID
  FROM dbo.SalesOrders
  WHERE SalesOrderID=@SalesOrderID AND Status='PENDING';

  IF @WID IS NULL
    THROW 51010, 'Order khong ton tai hoac khong o trang thai PENDING', 1;

  /* Check du ton */
  IF EXISTS (
    SELECT 1
    FROM dbo.SalesOrderItems i
    LEFT JOIN dbo.InventoryBalances b
           ON b.PartID=i.PartID AND b.WarehouseID=@WID
    WHERE i.SalesOrderID=@SalesOrderID
      AND (b.Quantity IS NULL OR b.Quantity < i.Quantity)
  )
    THROW 51011, 'Khong du ton de xuat', 1;

  BEGIN TRAN;

    INSERT INTO dbo.InventoryTransactions(PartID, WarehouseID, QtyChange, RefType, RefID)
    SELECT i.PartID, @WID, -i.Quantity, 'SALE', @SalesOrderID
    FROM dbo.SalesOrderItems i
    WHERE i.SalesOrderID=@SalesOrderID;

    UPDATE dbo.SalesOrders SET Status='PAID' WHERE SalesOrderID=@SalesOrderID;

  COMMIT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Transfer_Post]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Transfer_Post] @TransferID BIGINT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @FromWID INT, @ToWID INT;

  SELECT @FromWID=FromWarehouseID, @ToWID=ToWarehouseID
  FROM dbo.InventoryTransfers
  WHERE TransferID=@TransferID AND Status='DRAFT';

  IF @FromWID IS NULL
    THROW 51030, 'Transfer khong ton tai hoac khong o DRAFT', 1;

  /* Check du ton tai kho nguon */
  IF EXISTS(
    SELECT 1
    FROM dbo.InventoryTransferItems ti
    LEFT JOIN dbo.InventoryBalances b
           ON b.PartID=ti.PartID AND b.WarehouseID=@FromWID
    WHERE ti.TransferID=@TransferID
      AND (b.Quantity IS NULL OR b.Quantity < ti.Quantity)
  )
    THROW 51031, 'Khong du ton tai kho nguon', 1;

  BEGIN TRAN;

    /* OUT */
    INSERT INTO dbo.InventoryTransactions(PartID, WarehouseID, QtyChange, RefType, RefID)
    SELECT PartID, @FromWID, -Quantity, 'TRANSFER_OUT', @TransferID
    FROM dbo.InventoryTransferItems WHERE TransferID=@TransferID;

    /* IN */
    INSERT INTO dbo.InventoryTransactions(PartID, WarehouseID, QtyChange, RefType, RefID)
    SELECT PartID, @ToWID, Quantity, 'TRANSFER_IN', @TransferID
    FROM dbo.InventoryTransferItems WHERE TransferID=@TransferID;

    UPDATE dbo.InventoryTransfers
    SET Status='POSTED', PostedAt=sysdatetime()
    WHERE TransferID=@TransferID;

  COMMIT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_ApproveProposal]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_ApproveProposal]
  @ProposalID INT,
  @ApprovedBy NVARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.WorkOrderChargeProposals
  SET Status='APPROVED', ApprovedAt=sysdatetime(), ApprovedBy=@ApprovedBy
  WHERE ProposalID=@ProposalID AND Status='PENDING';
  IF @@ROWCOUNT=0 THROW 51100, 'Proposal khong ton tai hoac khong o PENDING', 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WO_CreateProposal]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WO_CreateProposal]
  @WorkOrderID INT,
  @Note NVARCHAR(500) = NULL,
  @ProposalID INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.WorkOrderChargeProposals(WorkOrderID, Note) VALUES(@WorkOrderID, @Note);
  SET @ProposalID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_WorkOrder_ConsumeParts]    Script Date: 15/09/2025 7:36:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_WorkOrder_ConsumeParts]
  @WorkOrderID INT,
  @WarehouseCode VARCHAR(50) = 'STORE_MAIN'
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @CenterID INT, @WID INT;

  SELECT TOP(1) @CenterID = t.CenterID
  FROM dbo.WorkOrders w
  JOIN dbo.Technicians t ON t.TechnicianID = w.TechnicianID
  WHERE w.WorkOrderID = @WorkOrderID;

  IF @CenterID IS NULL THROW 51020, 'Khong xac dinh Center tu WorkOrder', 1;

  SELECT @WID = w.WarehouseID
  FROM dbo.Warehouses w
  WHERE w.CenterID=@CenterID AND w.Code=@WarehouseCode;

  IF @WID IS NULL THROW 51021, 'Khong tim thay kho tai cho cho Center', 1;

  IF EXISTS (
    SELECT 1
    FROM dbo.WorkOrderParts p
    LEFT JOIN dbo.InventoryBalances b
           ON b.PartID=p.PartID AND b.WarehouseID=@WID
    WHERE p.WorkOrderID=@WorkOrderID
      AND (p.QuantityUsed IS NULL OR p.QuantityUsed < 0
           OR b.Quantity IS NULL OR b.Quantity < p.QuantityUsed)
  )
    THROW 51022, 'Khong du ton phu tung cho WorkOrder', 1;

  BEGIN TRAN;
    INSERT INTO dbo.InventoryTransactions(PartID, WarehouseID, QtyChange, RefType, RefID)
    SELECT p.PartID, @WID, -p.QuantityUsed, 'WORKORDER', @WorkOrderID
    FROM dbo.WorkOrderParts p
    WHERE p.WorkOrderID=@WorkOrderID AND p.QuantityUsed > 0;
  COMMIT;
END
GO
USE [master]
GO
